{% if page.bg %}
  <aside class="sidebar" role="note"
         style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note"
         style="background-image: url({{ site.images | relative_url }}/{{ page.content | number_of_words | modulo: site.img_cnt }}.jpg)">
{% endif %}

  <div class="cover">

    <div class="cover-text">
      <div class="heading">

        {% if page.title %}
          {{ page.title }}
        {% endif %}

      </div>

      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% else %}
          {{ site.quotes | sample 1 }}
        {% endif %}
      </p>

    </div>

  </div>

  <div id="switcher"></div>
</aside>
