<p class="image-gallery">
    {% for file in site.static_files %}
    {% if file.path contains page.folder %}
    {% if file.extname == '.jpg' %}
    {% assign filenameparts = file.path | split: "/" %}
    {% assign filename = filenameparts | last | replace: file.extname,"" %}
    <a href="{{ file.path }}" title="{{ filename }}">
        <img src="{{ file.path }}" alt="{{ filename }}" title="{{ filename }}" />
        <!-- <span>{{ filename }}</span> -->
    </a>
    {% endif %}{% endif %}{% endfor %}
</p>
